/* styles.css */
body {
  font-family: 'Helvetica', sans-serif;
  background-color: #196af7;
  color: #333;
  margin: 0;
  padding: 0;
}

.cv {
  max-width: 800px;
  margin: 20px auto;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  transition: transform 0.3s ease;
}

.cv:hover {
  transform: scale(1.02);
}

h1, h2, h3, h4, h5 {
  color: #007BFF;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  animation: fadeIn 2s ease-in-out;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  animation: fadeIn 2s ease-in-out;
}

h3 {
  font-size: 1.2em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 0.5em;
  animation: fadeIn 2s ease-in-out;
}

h4 {
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  animation: fadeIn 2s ease-in-out;
}

h5 {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  animation: fadeIn 2s ease-in-out;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.5em;
  animation: fadeIn 2s ease-in-out;
}

a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff5733;
}

.contact-info ul,
.profile p,
.skills ul,
.experience .job ul,
.education .course ul,
.projects ul,
.certificates .certificate ul,
.professional-skills ul,
.references ol {
  margin-left: 1.5em;
}

.references ol li {
  margin-bottom: 1em;
}

.references ol li ul {
  margin-left: 2em;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
